* {font-family: 'Slabo 27px', serif;}
body {background-color: #e1e1e1;
      margin: auto;
        text-align: center;}

/*For Index section.*/

.logo img {width: 100px;
          margin-right: 10px;}
.restaurant {display: inline-block;
            position: static;
            margin-top: 50px;}
            
.logo li {display: inline-block;
         font-size: 30px;}
#navul {display: inline-block;}
    
#home {margin-left: 15px;}
#about {margin-left: 30px;}
#menu {margin-left: 30px;}
#contact {margin-left: 30px;}

li a {text-decoration: none;}


#images {margin-top: 7%;}

#picture-1{display: inline-block;
    width:30%;
    min-width:300px;
    margin-left: 5px;}

#picture-2{display: inline-block;
    width:30%;
    min-width:300px;
    margin-left: 5px;}

#picture-3{display: inline-block;
    width:30%;
    min-width:300px;
    margin-left: 5px;
    margin-right: 5px;}

h1{font-size: 90px;
   /* position: relative;
    top: -153px;
    left: 125px;*/
    margin-bottom: 0px;
    display: inline-block;}

.foot {margin-top: 50px;}
.foot ul {display: inline-block;}
.foot li {display: inline-block;}
.foot img {width: 30px;}



/*For Menu section.*/
.logom img {width: 100px;
          margin-right: 10px;}
.menuhead {display: inline-block;
        min-width: 100%;}
          
#menu ul {list-style-type: none;
        padding: 0;
        margin: 0;}
        
/*#bfast {display: inline-block;}
#lunner {display: inline-block;}
#dessert {display: inline-block;}
#drinks {display: inline-block;}*/
/*Does the above count as a separate comment? In which case, does this one?*/

.menudiv {display: inline-block;
        border: 2px double black;
        background-image: url ("paper.jpg");
        width: 400px;
        min-width: 400px;}

div > p {font-family: 'Niconne', cursive;
        color: #402816;
        font-size: 30px;}
div > ul {font-family: 'Niconne', cursive;
        color: #402816;
        font-size: 25px;}
li {font-size: 15px;
        color: #402816;}
        
.menudescription {font-size: 12px;}

/*-----------------------------------------------*/
h2 {
  margin: auto;
}

#restaurant .txtinput { 
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: auto;
  margin-bottom: 20px;
  font-size: 1.55em;
  padding: 11px 25px;
  padding-left: 55px;
  width: 30%;
  color: black;

}
   
#restaurant .txtblock {
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: auto;
  margin-bottom: 20px;
  font-size: 1.55em;
  padding: 11px 25px;
  padding-left: 55px;
  width: 30%;
  color: black;

}


button {
  display: block;
  text-align: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #B20CAA
  margin: auto;
  margin-left: 405px;
  margin-bottom: 20px;
  font-size: 1.55em;
  padding: 11px 25px;
  padding-left: 55px;
  width: 30%;
  color: black;
}

/* About Us Page */

#about_food {
    margin-top: 50px;
    text-align: center;
}

#about_food_image {
    width: 450px;
    margin-left: 100px;
    margin-right: 35px;
    margin-bottom: 15px;
    display: inline-block;
}

#about_food h2 {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    margin-bottom: 0px;
}

#about_food p {
    display: inline-block;
    margin-right: 100px;
    width: 345px;
    text-align: left;
    position: relative;
    left: -265px;
    top: -55px;
    margin-bottom: 0px;
}

#about_restaurant {
  margin-top: 0px;
  text-align: center;
}

#about_restaurant_image {
    width: 450px;
    margin-left: 100px;
    margin-right: 35px;
    margin-bottom: 15px;
    margin-top: 0px
    display: inline-block;
}

#about_restaurant h2 {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0px;
    margin-right: 100px;
    width: 613px;
}

#about_restaurant p {
    display: inline-block;
    margin-right: 100px;
    width: 400px;
    height: 0px;
    text-align: left;
    position: relative;
    margin-bottom: 0px;
    left: 197px;
    top: -300px;
}

#about_location {
    margin-top: 0px;
    text-align: center;
}

#about_location_image {
    width: 450px;
    margin-top: -250px;
    margin-left: 100px;
    margin-right: 35px;
    margin-bottom: 15px;
    display: inline-block;
}

#about_location h2 {
    display: inline-block;
    vertical-align: top;
    margin-top: -250px;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0px;
    margin-right: 100px;
    width: 613px;
}

#about_location p {
    margin-right: 100px;
    width: 450px;
    height: 0px;
    text-align: left;
    position: relative;
    left: 590px;
    top: -300px;
    margin-bottom: 0px;
}

#about_chef {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
}

#about_chef_image {
    width: 450px;
    margin-left: 100px;
    margin-right: 35px;
    margin-bottom: 0px;
    margin-top: 0px
    display: inline-block;
}

#about_chef h2 {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0px;
    margin-right: 100px;
    width: 613px;
}

#about_chef p {
    display: inline-block;
    margin-right: 100px;
    width: 475px;
    height: 0px;
    text-align: left;
    position: relative;
    left: 220px;
    top: -290px;
    margin-bottom: 0px;
}